{% extends 'base.html' %}

{% block content %}

<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
  <span aria-hidden="true"></span>
  <span aria-hidden="true"></span>
  <span aria-hidden="true"></span>
</a>
</div>

<div id="navbarBasicExample" class="navbar-menu">
<div class="navbar-start">

  </div>
</div>

<div class="navbar-end">
  <div class="navbar-item">
    <div class="buttons">
      <a class="button is-primary" href="{{url_for('feed')}}">
        <strong>map</strong>
      </a>
      <a class="button is-light" href="{{url_for('logout')}}">
        log out
      </a>
      <a class="button is-light">
        my profile ({{ user }})
      </a>
    </div>
  </div>
</div>
</div>
</nav>

<div class="container is-max-desktop">
  <div class="notification is-light">

    <div class="field">         
      <p>add location
      </p>
    </div>

    <div class="field">
      <label class="label">name</label>
      <div class="control">
        <input class="input" type="text">
      </div>
    </div>

    <div class="field">
      <label class="label">address</label>
      <div class="control">
        <input class="input" type="email">
      </div>
    </div>

    <div class="field">         
      <img src="{{ url_for('static', filename='rating.png') }}" width="300" height="200">
    </div>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <span class="heading">your rating</span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star"></span>



    <form name="star_submit" id="star_submit" action="test_form.php" method="post">
      <fieldset>
      <table>
      <tr>
         <td colspan="1">
           <label>your rating </label> 
                  <br>
         <div class="star_rating">
               <input type="checkbox" id="star5" name="Star_Rating_of_5_stars" class="fa fa-star" value="5">
            <label for="star5" class="star" title="4 stars"></label>
               <input type="checkbox" id="star4" name="Star_Rating_of_5_stars" class="fa fa-star" value="4">
            <label for="star4" class="star" title="4 stars"></label>
               <input type="checkbox" id="star3" name="Star_Rating_of_5_stars" class="fa fa-star" value="3">
            <label for="star3" class="star" title="3 stars"></label>
               <input type="checkbox" id="star2" name="Star_Rating_of_5_stars" class="fa fa-star" value="2">
            <label for="star2" class="star" title="2 stars"></label>
               <input type="checkbox" id="star1" name="Star_Rating_of_5_stars" class="fa fa-star" value="1">
            <label for="star1" class="star" title="1 stars"></label>
         </div>
        </td>
      </tr>
    </fieldset>
    <tr>
       <td colspan="1">
          <div class="rectangle">
             <label for="submit">
                <button type="submit" id="submit" class="rounded" value="Submit">Submit</button>
             </label>
          </div>
       </td>
    </tr>
    </table>
    </form>


        <form action="/create" method="post">

          
            <table>
            <tr>
               <td colspan="1">
                 <label>your rating </label> 
                        <br>
               <div class="star_rating">
                     <input type="checkbox" id="star5" name="Star_Rating_of_5_stars" class="fa fa-star" value="5">
                  <label for="star5" class="star" title="4 stars"></label>
                     <input type="checkbox" id="star4" name="Star_Rating_of_5_stars" class="fa fa-star" value="4">
                  <label for="star4" class="star" title="4 stars"></label>
                     <input type="checkbox" id="star3" name="Star_Rating_of_5_stars" class="fa fa-star" value="3">
                  <label for="star3" class="star" title="3 stars"></label>
                     <input type="checkbox" id="star2" name="Star_Rating_of_5_stars" class="fa fa-star" value="2">
                  <label for="star2" class="star" title="2 stars"></label>
                     <input type="checkbox" id="star1" name="Star_Rating_of_5_stars" class="fa fa-star" value="1">
                  <label for="star1" class="star" title="1 stars"></label>
               </div>
              </td>
            </tr>
          


          <div class="field">
            <label class="label">your comment</label>
            <div class="control">
              <textarea class="textarea" name="location-comment" placeholder="Textarea"></textarea>
            </div>
          </div>

          <div class="field is-grouped">
            <div class="control">
              <button class="button is-primary"><strong>submit</strong></button>
            </div>
          </div>

        </form>
  </div>
</div>

{% endblock %}