{% extends 'base.html' %}

{% block content %}

<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
  <span aria-hidden="true"></span>
  <span aria-hidden="true"></span>
  <span aria-hidden="true"></span>
</a>
</div>

<div id="navbarBasicExample" class="navbar-menu">
<div class="navbar-start">

  </div>
</div>

<div class="navbar-end">
  <div class="navbar-item">
    <div class="buttons">
      <a class="button is-primary" href="{{url_for('feed')}}">
        <strong>map</strong>
      </a>
      <a class="button is-light" href="{{url_for('logout')}}">
        log out
      </a>
      <a class="button is-light" href="{{url_for('my_profile', user_id=users['UserId'])}}">
        my profile ({{ user }})
      </a>
    </div>
  </div>
</div>
</div>
</nav>

<div class="container is-max-desktop">
  <div class="notification is-light">

    <div class="field">         
      <p>add location
      </p>
    </div>

    <div class="field">
      <label class="label">name</label>
      <div class="control">
        <input class="input" type="text">
      </div>
    </div>

    <div class="field">
      <label class="label">address</label>
      <div class="control">
        <input class="input" type="email">
      </div>
    </div>

    <div class="field">         
      <img src="{{ url_for('static', filename='rating.png') }}" width="300" height="200">
    </div>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <span class="heading">your rating</span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star"></span>

      <div class="field"> 
        <h1>your comment</h1>
        </div>

      <div class="field"> 
        <textarea class="textarea" placeholder="comment"></textarea>
      </div>

      <div class="buttons">
        <a class="button is-primary">
          <strong>submit</strong>
        </a>
      </div>

  </div>
</div>

{% endblock %}