{% extends 'base.html' %}

{% block content %}


{% for comment in comments %}
 <section class="section">
    <div class="container">
    <article class="media">
      <figure class="media-left">
        <p class="image is-64x64">
          <img class="is-rounded" src="{{ url_for('static', filename='profile_pictures/' + comment['Picture']) }}">
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <p>
            <strong>{{ comment['UserName'] }}</strong>
            <small>{{ comment['DateTime'] }}</small>
            <br>
            {{ comment['CommentText'] }}
            <br>
            <nav class="level is-mobile">
              <div class="level-left">
                  <a class="level-item" aria-label="reply">
                      <span class="icon-text">
                          <span class="icon">
                          <i class="fas fa-heart"></i>
                          </span>
                          <span>{{ comment['LikeCount'] }}</span>
                      </span>
                  </a>

                  <a class="level-item" aria-label="like">
                      <span class="icon-text">
                          <span class="icon">
                          <i class="fas fa-comment"></i>
                          </span>
                          <!-- <span>{{ comment['Comments'] | count}}</span> -->
                      </span>
                  </a>
              </div>
            </nav>
          </p>
        </div>
{% endfor %}    
        <!-- {% for reply in comments %}
        <article class="media">
          <figure class="media-left">
            <p class="image is-48x48">
              <img class="is-rounded" src="{{ url_for('static', filename=reply['Picture']) }}">
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
                <strong>{{ reply['Name'] }}</strong>
                <small>{{ reply['DateTime'] }}</small>
                <br>
                {{ reply['Text'] }}
                <br>
              </p>
            </div>
          </div>
        </article>
        {% endfor %} -->

      </div>
    </article>
    
    <article class="media">
      <figure class="media-left">
        <p class="image is-64x64">
         
        </p>
      </figure>
      <div class="media-content">
        <div class="field">
          <p class="control">
            <textarea class="textarea" placeholder="Add a comment..." rows=2></textarea>
          </p>
        </div>
        <div class="field">
          <p class="control">
            <button class="button">Post comment</button>
          </p>
        </div>
      </div>
    </article>
  </div>
  </section>


{% endblock %}