{% extends 'base.html' %}

{% block content %}

{{ comments }}

{% for location in locations %}
<nav class="level">
  <div class="level-item">
    <div>
      <div class="container">
        <div class="field">         
          <h1>{{ location['Name'] }}</h1>
          <h2>{{ location['Address'] }}</h2>
          <span class="icon">
          <i class="fa-solid fa-location-dot"></i>
          </span>
        </div>

      <section class="section">
        <div class="field">
        
  
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

          <span class="heading">Rating</span>

          {% for i in range(0, location['Stars']) %}
          <span class="fa fa-star checked" style="color:gold"></span>
          {% endfor %}

          {% for i in range(location['Stars'], 5) %}
          <span class="fa fa-star checked"></span>
          {% endfor %}

        </div>
      </section>

        <div class="field">
          <div class="container">
            <img src="{{ url_for('static', filename='rating.png') }}" width="300" height="200">
          </div> 
        </div>

      <h1>comments</h1>

        {% for comment in comments %}
        <section class="section">
        <div class="field">
          <article class="media">

            <figure class="media-left">
              <p class="image is-48x48">
                <img class="is-rounded" src="{{ url_for('static', filename='profile_pictures/'+users[location['Id']]['Picture']) }}">
              </p>
            </figure>
            
            <div class="media-content">
              <div class="content">
                <p>
                  <strong>{{ users[location['Id']]['Name'] }}</strong>
                  <small>{{ comment['Username']  }}</small>
                  <small>{{ comment['DateTime'] }}</small>
                  <br>
                  {{ comment['Text'] }}
                  <br>
                  <nav class="level is-mobile">
                    <div class="level-left">
                        <a class="level-item" aria-label="reply">
                            <span class="icon-text">
                                <span class="icon">
                                <i class="fas fa-heart"></i>
                                </span>
                                <span>{{ comment['Likes'] | count }}</span>
                            </span>
                        </a>
        
                        
                        <a class="level-item" aria-label="like" href="{{ url_for('comments', comment_id=comment['CommentId']) }}">
                            <span class="icon-text">
                                <span class="icon">
                                <i class="fas fa-comment"></i>
                                </span>
                                <span>{{ comment['Comments'] | count}}</span>
                            </span>
                        </a>
                    </div>
                  </nav>
                </p>
              </div>
            </div>
          </article>
        </div>
        </section>
        {% endfor %}
      </div>
    </div>
    
  </div>
  <div class="level-item">
    <div>
      <section class="section">
      <div class="container">
        <a href="{{url_for('rating', location_id=location['Id'])}}">
          <button class="button is-success">
            rate location
          </button>
        </a>
      </div> 
      </section>
      <section class="section">
      <div class="container">
          <img src="{{ url_for('static', filename='restroom.png') }}" width="450" height="200">
      </div> 
      </section>
    </div>
  </div>
</nav>
{% endfor %}  

{% endblock %}