{% extends 'base.html' %}

{% block content %}

<section class="hero">
  <div class="hero-body">
 
          <article class="media">
          <div class="media-left">
              <figure class="image is-64x64">
              <img class="is-rounded" src="{{ url_for('static', filename=users['Picture']) }}" alt="Image">
              </figure>
          </div>
          <div class="media-content">
              <div class="content">
              <p>
                  <strong>{{ users['Name'] }}</strong> 
                  <br>
                  <form>
                  <div class="field">
                      <div class="control">
                          <p>{{ users['Info'] }}</p>
                      </div>
                  </div>
          </form>
  
              </p>
              </div>
          </div>
          </article>

  </div>
</section>
{% endblock %}